asgiref
certifi
crispy-bootstrap5
crispy-tailwind
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-tailwind
filelock
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
setuptools
sqlparse
typing_extensions
virtualenv
